*{
    margin:0;
    padding:0;
}
body{
    background-color:#e1b382 ;
}
.Box{
    margin-top:1rem;
    padding:2rem;
}
#taskInput{
    padding:0.5rem;
    border:2px solid darkblue;
    border-radius:1.5rem;
    background-color: darkblue;
    color:white;
}
button{
    border:1px solid black;
    margin-left:2rem;
    margin-top:2rem;
    padding:0.5rem;
    border-radius: 2px;
}
#btnAdd{
    background-color: green;
    color:white;
}
#btnDelete{
    background-color: Red;
    color:white;
}
#btnEdit{
    background-color: purple;
    color:white;
}
#btnSave{
    background-color: green;
    color:white;
}
#taskEdit{
    padding:0.5rem;
    border:2px solid darkblue;
    /* border-radius:1.5rem; */
    background-color: darkblue;
    color:white;
}
h1{
    align-items: center;
    font-size: 3rem;
    margin-top:2rem;
    text-align: center;
    justify-content: center;
}
#dataDisp{
    border:1px solid black;
    margin-bottom:2rem;
    border-radius: 10px;
    justify-content: center;
    padding-bottom: 2rem;
}